@import '../../../style/global.scss';
$color-text:#F5A11A;
.container{
background-color: $color-background ;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
flex: 1;
}
.text{
    font-family: $Mediu-font-family ;
    color: $color-white;
    font-size: 50px;
}
.yellowText{
    font-family: $Jennasue ;
    font-size: 100px;
    color: $color-text;
    font-weight: 600;

}