@import '../../../style/global.scss';
$color-text: #f5a11a;
.container {
  background-color: #1e1e1e;
  height: 100vh;
  width: 100vw;
  position: absolute;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .content {
    z-index: 1;
  }
  .innerContainer {
    position: absolute;
    z-index: 1;
    background-color: $color-background;
    height: 100vh;
    width: 100vw;
    right: 100px;
    &.transition {
      transition: all 1s ease;
    }
  }
  .backgroundImageContainer {
    position: absolute;
    height: 100vh;
    background-image: url('../../../assets/image/BG.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .backgroundImage {
      height: 100vh;
      width: 100vw;
      background-image: linear-gradient(
        0deg,
        rgba(245, 161, 26, 0.3),
        rgba(245, 161, 26, 0.3)
      );
    }
  }
  .moveBlock {
    position: absolute;
    width: 100px;
    top: 0;
    bottom: 0;
    background-color: $color-text;
    z-index: 2;
    right: 0;
    cursor: pointer;
    &.transition {
      transition: transform 1s ease;
    }
  }
}
.text {
  font-family: $Mediu-font-family;
  color: $color-white;
  font-size: 50px;
  user-select: none;
}
.yellowText {
  font-family: $Jennasue;
  font-size: 100px;
  color: $color-text;
  font-weight: 600;
  user-select: none;
}
