@import '../../../style/global.scss';
.container{
background-color: $color-background ;
height: 100vh;
position: relative;
}
.textCenter{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
}