@import '../../style/global.module.scss';

$background-color:#141414;

.container{
filter: drop-shadow(0px 0px 10px rgba(20, 20, 20, 0.5));
height: 530px;
min-width: 640px;
display: flex;
flex-direction: column;
margin-right: 30px;
overflow: hidden;
}
.headerText{
    font-family: $Medium-font-family;
    color:$color-white;
    @include adaptiv-font(24, 20);
    font-weight: 600;
    padding: 30px 0 30px 30px;
    white-space: nowrap;
    background-color:$background-color ;
    z-index: 1;
}
.box{
    display: flex;
    flex-direction: row;
    padding-top: 30px ;
    width: 100%;  
    justify-content: space-between;
}
.text {
    color:$color-white;
    font-family: $Light-font-family;
    width: 280px;
    margin-right: 30px ;
    @include adaptiv-font(22, 18);
    font-weight: 500;
}
.button{
    font-family: $Medium-font-family;
    color:$color-white;
    @include adaptiv-font(20, 15);
    font-weight: 600;
    background: none;
    border: none;
    cursor: none;
    margin-bottom: 30px ;
    margin-right: 30px;

}
.image{
    width: 100%;
   margin: -550px 0 0 0;
}
.boxImage{
height: 218px;
}
.boxButton{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}
.bodyHeader{
    font-family: $Medium-font-family;
    color:$color-white;
    @include adaptiv-font(24, 17);
    font-weight: 600;
    white-space: nowrap;
    margin-left: 30px;
 
}
.boxBody{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:$background-color;
    height:100%;
    
}

@media(max-width: 1100px){
    .container{
        height: 453px;
        min-width: 133px;
    }
    .image{
        width: 100%;
        margin: -425px 0 0 0;
    }
    .text {
        width: 301px;
        margin-right: 30px ;
        margin-left: 20px;
    }
    .boxImage{
        height: 192px;
        }

}
@media(max-width: 500px){
    .container{
        height: 200x;
        min-width: 40px;
    }

}
@media(max-height: 660px){
    .container{
        height: 490px;
        }
        .text {
            @include adaptiv-font-height(12, 8);
        }
  }
@media(max-height: 550px){
    .container{
        height: 400px;
        }
        .boxImage{
            height: 100px;
            }
  }
  @media(max-height: 500px){
    .container{
        max-height: 250px;
        }
        .boxImage{
            height: 75px;
            }
            .headerText{
                padding: 5px 0 5px 30px;
            }
  }
  @media(max-height: 370px){
    .container{
        max-height: 160px;
        }
        .boxImage{
            height: 0px;
            }
            .headerText{
                padding: 5px 0 5px 30px;
            }
  }
  