@import '../../style/global.scss';
.container{
background-color: $color-background ;
height: 100vh;
display: flex;
flex: 1;
justify-content: center;
align-items: center;
}

.about{
    font-family: $Mediu-font-family;
    color: $color-white;
    font-weight: 600;
    font-size: 70px;
    padding-bottom: 101px;
    position: relative;
    z-index: 2;
}
.textAbout{
    font-family:$Mediu-font-family-Italic;
    color:$color-white;
    font-weight: 400;
    font-size: 70px;
    position: relative;
    z-index: 2;
}
.orangeText{
    color:$color-orange;
    font-weight: 600;
     position: relative;
    z-index: 2;
}
.image{
    position: absolute;
    width: 100%;
    height: 100%;
}
