@import '../../style/global.scss';
$color-background: linear-gradient(90deg, #F4A01A 0%, #BA4734 124.55%);
.container{
background-image:$color-background ;
height: 100vh;
position: relative;
}
.header{
    font-family: $Mediu-font-family ;
    color:$color-white;
    font-size: 70px;
    font-weight: 500;
    position: fixed;
    z-index: 1;
    top: 16%;
    left: 4%;
}
.boxProjects{
    display: flex;
    position: relative;
    margin-left: 70px;
    overflow-x: scroll;
    overflow-y: hidden;
    top:35%;
 
}