@import '../../style/global.scss';
$color-background: linear-gradient(90deg, #F4A01A 0%, #BA4734 124.55%);
.container{
background-image:$color-background ;
height: 100vh;
display: flex;
flex-direction: column;
justify-content:space-evenly;
}
.header{
    font-family: $Mediu-font-family ;
    color:$color-white;
    font-size: 70px;
    font-weight: 500;
       padding-left: 70px;
}
.boxProjects{
    display: flex;
    padding-left: 70px;
    overflow-x: scroll;
    overflow-y: hidden;
    top:35%;
 
}