@import '../../../style/global.module.scss';

.container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
 

  .content {
    position: absolute;
    width: 100vw;
    height: 100vh;
    padding: 130px 70px 70px 70px;
    box-sizing: border-box;


    .boxImage{
     
      height: 100%;
      width: 100%;
      .image{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
  }
  }
  &.show {
    .boxImage {
      animation-duration: #{$duration}s;
      animation-timing-function: $animation-timing-function-show;
      animation-name: textShow;
      animation-fill-mode: forwards;
    }
    .content {
      animation-duration: #{$duration}s;
      animation-timing-function: $animation-timing-function-show;
      animation-name: backgroundShow;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes textShow {
  from {
    padding-top: 400px;
    opacity: 0;
  }
  to {
    padding-top: 0;
    opacity: 1;
  }
}

@keyframes backgroundShow {
  from {
    background-color: transparent;
  }
  to {
    background-color: $color-background;
  }
}
@media(max-width:500px){
  .container{
    .content{
      padding: 120px 30px 30px 30px;
    }
  }
}