@import '../../style/global.scss';
.container{
background-color: $color-background ;
height: 100vh;
position: relative;
}
.textTeam{
    font-family: $Bold-font-family-Italic;
    color: $color-orange;
    font-size: 90px;
    position: absolute;
    top:130px;
    left:50%;
    transform: translate(-50%, -50%);
}
.boxImage{
    display: flex;
    flex-direction: row;
    position: absolute;
    top:50%;
    left:50%;
     gap: 20px;
     transform: translate(-50%, -50%);
     align-items: center;
}