@import '../../style/global.scss';
.container{
background-color: $color-background ;
height: 100vh;
display: flex;
flex: 1;
justify-content: center;
align-items: center;
flex-direction: column;
}
.textTeam{
    font-family: $Bold-font-family-Italic;
    color: $color-orange;
    font-size: 90px;
}
.boxImage{
    display: flex;
     gap: 20px;
     align-items:center;
     z-index: 1;
     margin-top: 60px;
}