@import '../../style/global.module.scss';
.container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    .innerContainer {
      position: absolute;
      z-index: 0;
      background-color: $color-background;
      border-radius: 100%;
      height: 0px;
      width: 0px;
    }
    .content {
      top: 100vh;
      opacity: 0.95;
      position: absolute;
      width: 100vw;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
      .textTeam {
        font-family: $Bold-font-family-Italic;
        color: $color-orange;
        @include adaptiv-font(90, 75);
        position: absolute;
        top: 130px;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
   
    display: flex;
    justify-content: center;
      }
      .boxImage {
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 50%;
        left: 50%;
        gap: 20px;
        transform: translate(-50%, -50%);
        align-items: center;
      }
    }
    &.hide {
      z-index: 0;
    }
    &.show {
      .innerContainer {
        animation-name: $animationContainerShow;
        animation-duration: #{$duration}s;
        animation-timing-function: $animation-timing-function-show;
        animation-fill-mode: forwards;
      }
      .content {
        animation-delay: #{$contentDuration}s;
        animation-duration: #{$contentDuration}s;
        animation-timing-function: $animation-timing-function-show;
        animation-name: $animationContentShow;
        animation-fill-mode: forwards;
      }
    }
    &.showBack {
      .content {
        .boxImage {
          div:nth-child(even) {
            animation-duration: 2s;
            animation-timing-function: $animation-timing-function-show;
            animation-name: evenShowBackAnimation;
            animation-fill-mode: forwards;
          }
          div:nth-child(odd) {
            animation-duration: 2s;
            animation-timing-function: $animation-timing-function-show;
            animation-name: oddShowBacAnimation;
            animation-fill-mode: forwards;
          }
        }
      }
    }
    &.end {
      .content {
        .boxImage {
          > :nth-child(even) {
            animation-duration: 2s;
            animation-timing-function: $animation-timing-function-show;
            animation-name: evenEndAnimation;
            animation-fill-mode: forwards;
          }
          > :nth-child(odd) {
            animation-duration: 2s;
            animation-timing-function: $animation-timing-function-show;
            animation-name: oddEndAnimation;
            animation-fill-mode: forwards;
          }
        }
        .textTeam{
          animation-duration: 2s;
          animation-timing-function: $animation-timing-function-show;
          animation-name: evenEndAnimationText;
          animation-fill-mode: forwards;
        }
      }
    }
  }
  
  @keyframes evenShowBackAnimation {
    from {
      margin-top: -200px;
      opacity: 0;
    }
    to {
      margin-top: 0;
      opacity: 1;
    }
  }
  
  @keyframes oddShowBacAnimation {
    from {
      margin-top: -50px;
      opacity: 0;
    }
    to {
      margin-top: 0;
      opacity: 1;
    }
  }
  
  @keyframes evenEndAnimation {
    from {
      margin-top: 0;
      opacity: 1;
    }
    to {
      margin-top: -200px;
      opacity: 0;
    }
  }
  
  @keyframes oddEndAnimation {
    from {
      margin-top: 0;
      opacity: 1;
    }
    to {
      margin-top: -50px;
      opacity: 0;
    }
  }
  @keyframes evenEndAnimationText {
    from {
      margin-top: 0;
      opacity: 1;
    }
    to {
      margin-top: -100px;
      opacity: 0;
    }
  }

  @media(max-width:450px){
    .container{
      .content{
        .textTeam{
          top: 155px;
          padding-top: 20%;
        }
        .boxImage{
          left: 0%;
          transform: translate(0%, -50%);
          flex-wrap: wrap;
          justify-content: center;
          top:60%;
          gap: 10px;
        }
      }
    }
  }
