@import '../../style/global.scss';
.container{
background-color: $color-background ;
height: 100vh;
display: flex;
flex-direction: column;
justify-content: space-evenly;
padding:  0 70px;
}
.slogan{
    font-size: 60px;
    font-weight: 500;
    font-family: $Mediu-font-family;
    color: $color-white;
}
.orangeText{
    font-size: 60px;
    font-weight: 500;
    font-family: $Light-font-family-Italic;
    color: $color-orange;
}
.boxText{
    font-family: $Light-font-family-Italic;
    color:rgba(255, 255, 255, 0.4);
    font-size: 100px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items:flex-end
}
.image{
    width: 100%;
}
.test{
    display: flex;
    justify-content: space-between;
    align-items:center
}
.imageBox{
    max-width: 8%;
}
