@import '../../style/global.scss';

.container{
    height: 450px;
    width: 200px;
    filter: grayscale(100);
    transition: 0.5s;
    overflow: hidden;
    z-index: 9999;
    position: relative;
    &:hover{
        height: 540px;
        width: 419px;
        filter: grayscale(0);
        position: relative;
        z-index: 1;
    }
}
.image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}
.boxText{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: -80px;
    z-index: 2;
    cursor: none;
}
.name{
    color: $color-white;
    font-size: 24px;
    font-weight: 600;
    font-family: $Mediu-font-family-Italic;
}
.position{
    color: $color-white;
    font-size: 14px;
    font-weight: 400;
    font-family: $Light-font-family-Italic;
}

@media(max-width: 1100px){
    .container{
        height: 380px;
        width: 150px;
        &:hover{
            height: 440px;
            width: 280px;
            filter: grayscale(0);
            position: relative;
            z-index: 1;
        }
    }

}

@media(max-width: 860px){
    .container{
        height: 300px;
        width: 81px;
        &:hover{
            height: 380px;
            width: 219px;
            filter: grayscale(0);
            position: relative;
            z-index: 1;
        }
    }

}
@media(max-width: 400px){
    .container{
        height: 180px;
        width: 80px;
        display: flex;
        flex-wrap: wrap;
        &:hover{
            height: 200px;
            width: 100px;
            filter: grayscale(0);
            position: relative;
            z-index: 1;
        }
    }

}