@import '../../style/global.module.scss';
$color_Text:rgba(255, 255, 255, 0.6);

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 1;
    .content {
      position: absolute;
      width: 100vw;
      height: 100vh;
      opacity: 0.95;
      top: 100vh;
      font-family: $Bold-font-family-Italic;
      color: $color-orange;
      @include adaptiv-font(90, 56);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  
    .innerContainer {
      position: absolute;
      z-index: 0;
      background-color: $color-background;
      border-radius: 100%;
      height: 0px;
      width: 0px;
    }
    &.show {
        .innerContainer {
          animation-name: $animationContainerShow;
          animation-duration: #{$duration}s;
          animation-timing-function: $animation-timing-function-show;
          animation-fill-mode: forwards;
        }
        .content {
          // animation-delay: #{$contentDuration}s;
          animation-duration: #{$contentDuration}s;
          animation-timing-function: $animation-timing-function-show;
          animation-name: $animationContentShow;
          animation-fill-mode: forwards;
        }
      }
  
.social{
    display: flex;
    gap: 50px;
    cursor: pointer;
    flex-wrap: wrap;
    justify-content: space-around;
}
.boxSocial{
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
    height: 100px;
}
.imgSocial{
    width: 100%;
    height: 100%;
    padding-top: 50px;
}
.nameSocial{
    color: $color_Text;
    @include adaptiv-font(20, 12);
}
}
