@import './fonts.scss';
$color-orange:#F4A01A;
$color-background:#1E1E1E;
$color-white:#FFFFFF;
$Light-font-family:'Neue Haas Grotesk Light';
$Light-font-family-Italic:'Neue Haas Grotesk Light Italic';
$Mediu-font-family:'Neue Haas Grotesk Mediu';
$Mediu-font-family-Italic:'Neue Haas Grotesk Mediu Italic';
$Bold-font-family-Italic:'Neue Haas Grotesk Bold Italic';

p{margin: 0;}