@import '../../../style/global.module.scss';

.container{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .content {
        position: absolute;
        width: 100vw;
        height: 100vh;
        opacity: 0.95;
        top: 100vh;
        font-family: $Bold-font-family-Italic;
        @include adaptiv-font(90, 56);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
        .innerContainer {
          position: absolute;
          z-index: 0;
          height: 0px;
          width: 0px;
          border-radius: 100%;
          background-image: $orange-gradient;
      }
      &.hide {
        .innerContainer{
          top: 0;
          animation-duration: #{$contentDuration}s;
          animation-timing-function: $animation-timing-function-show;
          animation-name: $animationContentShow;
          animation-fill-mode: forwards;
  
        }
      }
      &.show {
        .innerContainer {
          animation-name: $animationContainerShow;
          animation-duration: #{$duration}s;
          animation-timing-function: $animation-timing-function-show;
          animation-fill-mode: forwards;
        }
        .content {
          animation-delay: #{$contentDuration}s;
          animation-duration: #{$contentDuration}s;
          animation-timing-function: $animation-timing-function-show;
          animation-name: $animationContentShow;
          animation-fill-mode: forwards;
        }
      }

    .boxImage{
        width: 100%;
        display: flex;
        justify-content: center;

    }
    .image{
        max-width: 100%;
        background-repeat: no-repeat;
    }

}
@keyframes evenShowBackAnimation {
    from {
      margin-top: -200px;
      opacity: 0;
    }
    to {
      margin-top: 0;
      opacity: 1;
    }
  }
  @keyframes showHideContent {
    from {
        opacity: 1;

    }
    to {
        opacity: 0;

    }
  }