@import '../../../style/global.module.scss';

.container {
  position: absolute;
  width: 100vw;
  height: 100vh;

  .content {
    background-color: transparent;
    position: absolute;
    width: 100vw;
    height: 100vh;

    .boxText {
      padding-left: 70px;
      .headerText {
        color: $color-white;
        @include adaptiv-font(100, 45);
        padding-top: 141px;
        .orangeText {
          color: $color-orange;
          @include adaptiv-font(100, 45);
        }
      }

      .mainText {
        color: $color-white;
        @include adaptiv-font(28, 17);
        padding: 20px 0 71px 0;
      }
    }
    .boxProjects {
      display: flex;
      flex: 1;
      align-items: center;
      padding-left: 70px;
      overflow: auto;
      gap: 30px;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

@media(max-width:500px){
  .container{
    .content{
      .boxText{
        padding-left: 30px;
      }
      .boxProjects{
        padding-left: 30px;
      }
    }
  }
  .image{
    height: 200px;
  }

}