@import '../../style/global.scss';
textarea{
    border: 2px solid $color-white;
    border-radius: 30px;
    background: rgba( 0,0,0,.0);
    padding: 17px 0 0 40px;
    font-size: 24px;
    font-family:$Light-font-family ;
    outline: none;
    resize: none;
    color:$color-white;
    height:100%;
    margin-bottom: 20px;
}
textarea::placeholder {
    color:$color-white;
}

.container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    overflow: hidden;
    .innerContainer {
      position: absolute;
      z-index: 0;
      background-color: $color-background;
      height: 0;
      width: 0;
      overflow: hidden;
    }
    .content{
        background-image: url('../../assets/image/BG.png');
        height: 100vh;
        width: 100vw;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: end;
        top: 100vh;
        opacity: 0.95;
        position: absolute;
        z-index: 1;
        overflow: hidden;
        }
        .yellowBox{
            background-color:rgba(244, 160, 26, 0.8);
            flex: 0 60%;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
        .firstText{
            font-size: $Mediu-font-family;
            color: $color-white;
            font-weight: 600;
            font-size: 50px;
        }
        .secondtText{
            font-size: $Mediu-font-family;
            color: $color-white;
            font-weight: 600;
            font-size: 30px;
        }
        .boxForm{
            display: flex;
            gap: 40px;
            padding: 50px 60px;
        
        }
        .boxInput{
            display: flex;
            flex-direction: column;
            gap:20px;
            flex: 0 1 50%;
        }
        .boxTextInput{
            display: flex;
            flex-direction: column;
            flex: 0 1 50%;
        }
        .buttonSend{
            background-color:$color-white;
            color:black;
            font-size: 24px;
            font-weight: 500;
            font-family: $Light-font-family;
            padding: 17px ;
            border: 2px solid $color-white ;
            border-radius: 30px;
            cursor: pointer;
        }
        .boxText{
            text-align: center;
        }
        &.show {
            .innerContainer {
              animation-name: $animationContentShow;
              animation-duration: #{$duration}s;
              animation-timing-function: $animation-timing-function-show;
              animation-fill-mode: forwards;
            }
            .content {
              animation-delay: #{$contentDuration}s;
              animation-duration: #{$contentDuration}s;
              animation-timing-function: $animation-timing-function-show;
              animation-name: $animationContentShow;
              animation-fill-mode: forwards;
            }
          }
}

@keyframes showInnerContainer {
    from {
        opacity: 0;

    }
    to {
        opacity: 1;

    }
  }
  @keyframes evenEndAnimation{
    from {
      margin-top: 0;
      opacity: 0;
    }
    to {
      margin-top: -200px;
      opacity: 1;
    }
  }
